// Most of the rules that were here are now taken care of
// by Bulma, and are configured in the _bulma.scss file.

h1, h2, h3, h4, h5, h6 {
	font-family: $title-font;
}

.boxed {
	background: #fff;
	border-radius: 6px;
	box-shadow: 0 1px 3px rgba(#000, .1);
}

.material-icons {
	font-size: inherit !important;
	vertical-align: middle;
}
