@font-face {
    font-family: 'Renner*';
    src: url('../fonts/Renner-it-Medium.woff') format('woff'),
        url('../fonts/Renner-it-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Renner*';
    src: url('../fonts/Renner-it-Book.woff') format('woff'),
        url('../fonts/Renner-it-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Renner*';
    src: url('../fonts/Renner-it-Light.woff') format('woff'),
        url('../fonts/Renner-it-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}