/* Color palette */
$primary: #ef233c;
// $secondary: #8d99ae;
// $light: #edf2f4;

$light-grey: #eee;
$dark-grey: #6a6a6a;
$black: #444;

/* Font properties */
$title-font: 'Renner*', sans-serif;
$text-font: 'Open Sans', serif;
$text-size: 1em;