.sidear {
    bottom: 0;
    box-sizing: border-box;
    font-weight: 300;
    background: rgba(#fff, .5);
}

.sidebar h3 {
	color: $dark-grey;
	margin: 35px 0 10px;
	text-transform: uppercase;
	font-size: 1em;
	font-weight: 300;
}

.sidebar nav a {
	display: block;

	text-decoration: none;
	font-size: 1.1em;
	color: $dark-grey;
	margin: 4px 0;
	padding: 7px 15px;
	border-radius: 4px;

	i {
		vertical-align: -3px;
		margin: 0 12px 0 0;
		font-size: 1.1em;
	}
}

.sidebar nav .counter {
	float: right;
	font-size: 15px;
	padding: 0 6px;
	line-height: 1.4;
	color: lighten($dark-grey, 22);
	border: 2px solid lighten($dark-grey, 32);
	border-radius: 20px;
	min-width: 30px;
	text-align: center;
}

.sidebar nav a.active {
	font-weight: 400;
	background: lighten($primary, 44);
	color: $primary;
}

.sidebar nav a.active .counter {
	color: lighten($primary, 8);
	border-color: lighten($primary, 17);
}

.sidebar .main-sidebar {
	position: fixed;
	left: 0;
	top: $header-height;
	width: $sidebar-width;
	padding: $sidebar-padding;
	// border-left: $separator-size solid $separator-color;
	// border-right: $separator-size solid $separator-color;
	box-shadow: 0 0 5px rgba(#000, .07);
	font-family: $title-font;
}

.sidebar .right-sidebar {
    position: absolute;
    bottom: 0;
    right: 0;
    top: 72px;
    width: 290px;
    padding: 23px;
    border-left: 2px solid #f4f4f4;
    border-right: 2px solid #f4f4f4;
    font-family: "Renner*", sans-serif;
    }



