$header-height: 70px;
$sidebar-width: 290px;
$sidebar-padding: 30px 20px;
$content-padding: 35px 60px;
$section-padding: 30px 20px;

$separator-color: #f5f5f5;
$separator-size: 2px;
$logo-size: 42px;
$avatar-size: 43px;

html {
	background: #fbfbfb;
}

.main-header {
	position: fixed;
	height: $header-height;
	left: 0;
	right: 0;
	top: 0;

	z-index: 1;
	background: #fff;
	box-shadow: 0 0 5px rgba(#000, .07);
	font-family: $title-font;

	display: flex;
	flex-direction: row;
}

.main-header, .main-header a {
	color: $dark-grey;
}

.main-header .branding {
	box-sizing: border-box;
	width: $sidebar-width + $separator-size;
	border-right: $separator-size solid $separator-color;

	display: flex;
	justify-content: center;
	align-items: center;
	
	img {
		height: $logo-size;
		vertical-align: text-bottom;
	}
}

.main-header .search {
	flex-grow: 1;
	display: flex;
	align-items: center;
	font-size: 1.3em;
	margin: 0 30px;
}

.main-header .search label {
	line-height: .6em;
}

.main-header .search input {
	border: 0;
	flex-grow: 1;
	margin-left: 20px;
	padding: 6px 0;
	outline: none;
	font-family: $title-font;
	background: none;
}

.main-header .user {
	display: flex;
}

.main-header .notifications, .main-header .logged {
	display: flex;
	align-items: center;
	height: 100%;
	text-decoration: none;
	border-left: $separator-size solid $separator-color;
	padding: 0 25px;
}

.main-header .notifications {
	font-size: 1.3em;
}

.main-header .avatar {
	width: $avatar-size;
	height: $avatar-size;
	border-radius: $avatar-size;
	overflow: hidden;
	margin-right: 15px;
}

.main-sidebar {
	position: fixed;
	bottom: 0;
	left: 0;
	top: $header-height;
	width: $sidebar-width;
	padding: $sidebar-padding;
	box-sizing: border-box;

	background: rgba(#fff, .5);
	// border-left: $separator-size solid $separator-color;
	// border-right: $separator-size solid $separator-color;
	box-shadow: 0 0 5px rgba(#000, .07);
	font-family: $title-font;
	font-weight: 300;
}

.main-sidebar nav {
  margin-bottom: 30px;
}

.main-sidebar h3 {
	color: $dark-grey;
	margin: 35px 0 10px;
	text-transform: uppercase;
	font-size: 1em;
	font-weight: 300;
}

.main-sidebar nav a {
	display: block;

	text-decoration: none;
	font-size: 1.1em;
	color: $dark-grey;
	margin: 4px 0;
	padding: 7px 15px;
	border-radius: 4px;

	i {
		vertical-align: -3px;
		margin: 0 12px 0 0;
		font-size: 1.1em;
	}
}

.main-sidebar nav .counter {
	float: right;
	font-size: 15px;
	padding: 0 6px;
	line-height: 1.4;
	color: lighten($dark-grey, 22);
	border: 2px solid lighten($dark-grey, 32);
	border-radius: 20px;
	min-width: 30px;
	text-align: center;
}

.main-sidebar nav a.active {
	font-weight: 400;
	background: lighten($primary, 44);
	color: $primary;
}

.main-sidebar nav a.active .counter {
	color: lighten($primary, 8);
	border-color: lighten($primary, 17);
}

@keyframes swipe {
  0% { background-position: 0 0; }
  100% { background-position: 200px 0; }
}

.placeholder {
  animation: 1s linear infinite swipe;
  background: linear-gradient(to right, #eee 10px, #ddd 30px, #eee 60px);
  background-size: 200px;
}

span.placeholder {
  display: inline-block;
  width: 5em;
}

p.placeholder,
span.placeholder {
  height: .6em;
  border-radius: .2em;
}


.main-content {
	// display: flex;
	// flex-direction: row;

	padding: $content-padding;
	margin-top: $header-height + $separator-size;
	margin-left: $sidebar-width + $separator-size;

	font-size: .96rem;

  .section {
    padding: $section-padding;
    max-width: 940px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 3px 2px rgba(#000, .02);

    h1 {
      font-size: 2.4em;
      font-weight: 300;
      margin-bottom: 20px;
    }

    .has-vertical-space {
      margin-top: 50px;
      margin-bottom: 40px;
    }

    .has-text-grey .nc-icon::before {
      color: #ccc;
    }
  }
}

.group-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  flex-wrap: wrap;
  margin: -10px;
  margin-top: 0px;

  .group-item {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    margin: 10px;
  }

  .group-item:hover .group-content {
    background: lighten($primary, 44);
  }

  .group-media {
    background: #eee;
    width: 50px;
    height: 50px;
    margin: 4px 0;
    border-radius: 50%;
  }

  .group-content {
    width: auto;
    flex-grow: 1;
    padding: 10px;
    margin-left: 8px;
    border-radius: 4px;
    transition: background-color 70ms linear;
  }

  .group-actions {
    position: absolute;
    top: 1em;
    right: 1em;
  }

  .group-actions .icon {
    color: rgba(#000, .3);
  }
}

.zoomIn-enter, .zoomIn-leave-to {
  opacity: 0;
  transform: scale3d(0.3, 0.3, 0.3);
}

.zoomIn-enter-active, .zoomIn-leave-active {
  display: block;
  transition: all .3s;
}

.main-title, .main-title.level {
	margin-bottom: 0;

	h2 {
		font-size: 1.7rem;
		margin-top: 2px;
		margin-bottom: 30px;
	}

	h2 i {
		margin-right: 20px;
	}

	.button {
		font-size: .96rem;
		margin-left: 10px;
	}
}
